<!-- buscar_historia.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Buscar Historia Clínica</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Buscar Historia Clínica</h1>
    <form method="POST">
        Cédula: <input type="text" name="cedula"><br>
        <br>  <!-- Agrega un espacio extra aquí -->
        <input type="submit" value="Buscar Historia" class="btn">
    </form>
    <br>  <!-- Agrega un espacio extra aquí -->
    <a href="javascript:history.back()" class="btn secundary-btn">Volver</a>
</body>
</html>
