<!-- confirmacion_borrar_historia.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Confirmación de Borrado de Historia Clínica</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <h1>¿Estás seguro de que deseas borrar esta historia clínica?</h1>
    <a href="{{ url_for('borrar_historia', cedula=cedula) }}" class="btn">Sí, Borrar</a>
    <a href="javascript:history.back()" class="btn secundary-btn">No, Cancelar</a>

    {% if historia_borrada %}
        <p>Historia clínica con cédula {{ cedula }} ha sido eliminada con éxito.</p>
        <a href="{{ url_for('index') }}">Volver</a>
    {% endif %}
</body>
</html>
