<!DOCTYPE html>
<html>
<head>
    <title>Página de Inicio</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Ani-Medical Centro Veterinario</h1>

    <a href="{{ url_for('nueva_historia') }}" class="btn">Nueva Historia Clínica</a>
    <a href="{{ url_for('buscar_historia') }}" class="btn secundary-btn">Buscar Historia Clínica</a>
    <a href="{{ url_for('reporte_completo') }}" class="btn secundary-btn">Mostrar Todas las Historias Disponibles</a>

</body>
</html>
