{% extends "base.html" %}
{% block content %}
    <h1>Crear Historia Clínica General</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('nueva_historia') }}">
        Médico Responsable: <input type="text" name="medico_responsable" value="{{ request.form.medico_responsable or '' }}" required><br><br>
        Propietario: <input type="text" name="propietario" value="{{ request.form.propietario or '' }}" required>
        Fecha de Creación: <input type="date" name="fecha_creacion" value="{{ request.form.fecha_creacion or '' }}" required><br><br>
        Cédula: <input type="text" name="cedula" value="{{ request.form.cedula or '' }}" required><br><br>
        Dirección: <input type="text" name="direccion" value="{{ request.form.direccion or '' }}" required><br><br>
        Teléfono: <input type="text" name="telefono" value="{{ request.form.telefono or '' }}"  required><br><br>
        Nombre del Paciente: <input type="text" name="nombre_paciente" value="{{ request.form.nombre_paciente or '' }}" required>
        Fecha de Nacimiento: <input type="date" name="fecha_nacimiento" value="{{ request.form.fecha_nacimiento or '' }}" required><br><br>
        Especie: 
        <select name="especie" required>
            <option value="Perro">Perro</option>
            <option value="Gato">Gato</option>
        </select>
        Sexo: 
        <select name="sexo" required>
            <option value="Macho">Macho</option>
            <option value="Hembra">Hembra</option>
        </select><br><br>
        Raza: <input type="text" name="raza" value="{{ request.form.raza or '' }}" required>
        Color: <input type="text" name="color" value="{{ request.form.color or '' }}" required><br><br>
    
        Vacuna 1: <input type="text" name="vacuna_1" value="{{ request.form.vacuna_1 or '' }}"> Fecha: <input type="date" name="fecha_vacuna_1" value="{{ request.form.fecha_vacuna_1 or '' }}"><br><br>
        Vacuna 2: <input type="text" name="vacuna_2" value="{{ request.form.vacuna_2 or '' }}"> Fecha: <input type="date" name="fecha_vacuna_2" value="{{ request.form.fecha_vacuna_2 or '' }}"><br><br>
        Vacuna 3: <input type="text" name="vacuna_3" value="{{ request.form.vacuna_3 or '' }}"> Fecha: <input type="date" name="fecha_vacuna_3" value="{{ request.form.fecha_vacuna_3 or '' }}"><br><br>
        Vacuna 4: <input type="text" name="vacuna_4" value="{{ request.form.vacuna_4 or '' }}"> Fecha: <input type="date" name="fecha_vacuna_4" value="{{ request.form.fecha_vacuna_4 or '' }}"><br><br>
        Vacuna 5: <input type="text" name="vacuna_5" value="{{ request.form.vacuna_5 or '' }}"> Fecha: <input type="date" name="fecha_vacuna_5" value="{{ request.form.fecha_vacuna_5 or '' }}"><br><br>
      
        Fecha de Última Desparasitación: <input type="date" name="fecha_ultima_desparasitacion" value="{{ request.form.fecha_ultima_desparasitacion or '' }}"><br><br>
        Motivo de Consulta: <textarea name="motivo_consulta" rows="4" cols="50">{{ request.form.motivo_consulta or '' }}</textarea><br><br>
        Sintomatología: <textarea name="sintomatologia" rows="4" cols="50">{{ request.form.sintomatologia or '' }}</textarea><br><br>
        Tratamiento o Enfermedades: <textarea name="tratamiento" rows="4" cols="50">{{ request.form.tratamiento or '' }}</textarea><br><br>
        Diagnóstico Diferencial: <textarea name="diagnostico_diferencial" rows="4" cols="50">{{ request.form.diagnostico_diferencial or '' }}</textarea><br><br>
        Exámenes Complementarios: <textarea name="examenes_complementarios" rows="4" cols="50">{{ request.form.examenes_complementarios or '' }}</textarea><br><br>
        Diagnóstico Definitivo: <textarea name="diagnostico_definitivo" rows="4" cols="50">{{ request.form.diagnostico_definitivo or '' }}</textarea><br><br>
        Tratamiento: <textarea name="tratamiento_final" rows="4" cols="50">{{ request.form.tratamiento_final or '' }}</textarea><br><br>
       
        Medicamento: <input type="text" name="medicamento_1" value="{{ request.form.medicamento_1 or '' }}">
        Posología: <input type="text" name="posologia_1" value="{{ request.form.posologia_1 or '' }}"><br><br>
        Medicamento: <input type="text" name="medicamento_2" value="{{ request.form.medicamento_2 or '' }}">
        Posología: <input type="text" name="posologia_2" value="{{ request.form.posologia_2 or '' }}"><br><br>
        Medicamento: <input type="text" name="medicamento_3" value="{{ request.form.medicamento_3 or '' }}">
        Posología: <input type="text" name="posologia_3" value="{{ request.form.posologia_3 or '' }}"><br><br>
        Medicamento: <input type="text" name="medicamento_4" value="{{ request.form.medicamento_4 or '' }}">
        Posología: <input type="text" name="posologia_4" value="{{ request.form.posologia_4 or '' }}"><br><br>
        Medicamento: <input type="text" name="medicamento_5" value="{{ request.form.medicamento_5 or '' }}">
        Posología: <input type="text" name="posologia_5" value="{{ request.form.posologia_5 or '' }}"><br><br>
        Fecha de Próxima Cita: <input type="date" name="proxima_cita" value="{{ request.form.proxima_cita or '' }}"><br><br>

        
        <div class="button-container">
            <input type="submit" value="Guardar Historia" class="btn btn-save">
            <a href="{{ url_for('tipo_historia') }}" class="btn secundary-btn">Volver</a>
        </div>

        {% if error_message %}
            <div class="alert alert-danger">{{ error_message }}</div>
        {% endif %}
    </form>
{% endblock %}
