{% extends "base.html" %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="ruta_a_tu_archivo_de_estilos.css">
    <h1>Reporte Completo de Historias Clínicas</h1>
    <ul class="history-list">
        {% for historia in historias %}
            <li class="history-item">
                <table class="info-table">
                    <tr>
                        <td><strong>Nombre:</strong></td>
                        <td>{{ historia[1] }}</td>
                    </tr>
                    <tr>
                        <td><strong>Cédula:</strong></td>
                        <td>{{ historia[2] }}</td>
                    </tr>
                    <tr>
                        <td><strong>Tratamiento:</strong></td>
                        <td>{{ historia[4] }}</td>
                    </tr>
                </table>
                <a href="{{ url_for('reporte_historia', id=historia[0]) }}" class="btn secondary-btn">Ver Historia Completa</a>
            </li>
            <hr> <!-- Línea separadora -->
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}" class="btn secondary-btn">Regresar</a>
{% endblock %}
