<!-- reporte_completo.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Reporte Completo de Historias Clínicas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Reporte Completo de Historias Clínicas</h1>
    <ul class="history-list">
        {% for historia in historias %}
            <li class="history-item">
                <strong>Nombre:</strong> {{ historia[1] }}
                <strong>Cédula:</strong> {{ historia[2] }}
                <strong>Tratamiento:</strong> {{ historia[4] }}
                <a href="{{ url_for('reporte_historia', cedula=historia[2]) }}" class="btn">Ver Historia Completa</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}" class="btn">Regresar</a>
</body>
</html>
