<!-- reporte_completo.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Reporte Completo de Historias Clínicas</title>
</head>
<body>
    <h1>Reporte Completo de Historias Clínicas</h1>
    <ul>
        {% for historia in historias %}
            <li>
                <strong>Nombre:</strong> {{ historia[1] }}
                <strong>Cédula:</strong> {{ historia[2] }}
                <strong>Tratamiento:</strong> {{ historia[4] }}
                <a href="{{ url_for('reporte_historia', cedula=historia[2]) }}">Ver Historia Completa</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('index') }}">Regresar</a>
</body>
</html>
