{% extends "base.html" %}
{% block content %}
    <h1>Resultado de la Búsqueda</h1>
    <ul>
        {% for historia in historias %}
            <li>
                <strong>Nombre:</strong> {{ historia[1] }}
                <strong>Cédula:</strong> {{ historia[2] }}
                <strong>Tratamiento:</strong> {{ historia[4] }}
                <input type="hidden" name="id" value="{{ historia[0] }}">  <!-- Campo oculto para el ID -->
                <a href="{{ url_for('reporte_historia', id=historia[0]) }}" class="btn secondary-btn">Ver Historia Completa</a><br><br>
            </li>
        {% endfor %}
    </ul>    
    
    <a href="{{ url_for('index') }}" class="btn">Regresar</a>
{% endblock %}
