<!-- resultado_busqueda.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Resultado de la Búsqueda</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

</head>
<body>
    <h1>Resultado de la Búsqueda</h1>
    <ul>
        {% for historia in historias %}
            <li>
                <strong>Nombre:</strong> {{ historia[1] }}
                <strong>Cédula:</strong> {{ historia[2] }}
                <strong>Tratamiento:</strong> {{ historia[4] }}
                <a href="{{ url_for('reporte_historia', cedula=historia[2]) }}"class="btn secundary-btn">Ver Historia Completa</a><br><br>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('index') }}"class="btn">Regresar</a>
</body>
</html>